<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name ="Constring" connectionString ="Password=abc123@;Persist Security Info=True;User ID=sa;Initial Catalog=InventoryBrotherPharmacy;Data Source=192.168.0.101"/>-->
    <add name ="Constring" connectionString ="Password=abc123@;Persist Security Info=True;User ID=sa;Initial Catalog=InventoryBrotherPharmacy;Data Source=."/>
  </connectionStrings>
  <appSettings>
    <add key="Drive" value="D:\" />
    <add key="BackupPath" value="E:\Server Backups\" />
  </appSettings>
  <system.web>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider"/>
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="Constring"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="ALKC"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="1"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="50"
             passwordStrengthRegularExpression="" />
      </providers>
    </membership>
  </system.web>
</configuration>